<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Virtual Disco</title>
    <link rel="stylesheet" type="text/css" href="styles.css?version=21" />
    <link rel="shortcut icon" type="image/png" href="src/resize.png" />
  </head>
  <body>
    <!-- Home button -->
    <div class="home_button">
      <div class="home__container">
        <a href="index.html" id="home_button-virtual">
          <img
            src="/src/home-page1.png"
            alt="Home"
            style="background-color: #fff; border-radius: 5px"
          />
        </a>
      </div>
    </div>

    <!-- Navigation button -->
    <div class="navigation">
      <div class="navigation__container">
        <div class="stream">
            <button class="virtual_btn stream__btn"><a href="stream.html">Live Stream</a></button>
        </div>
        <!-- <div class="photobooth">
            <button class="virtual_btn photobooth__btn"><a href="photobooth.html">Photobooth</a></button>
        </div> -->
        <div class="sponsor">
            <button class="virtual_btn sponsor__btn"><a href="sponsor.html">Merchandise</a></button>
        </div>
        <div class="gallery">
            <button class="virtual_btn gallery__btn"><a href="highlight.html">Highlight</a></button>
        </div>
      </div>
    </div>
  </body>
</html>
